* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p, span, a {
  font-family: 'Fira Code';
}

body {
  overflow: hidden;
}

.App {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  height: 100vh;
  background: #fbfbfb;
  position: relative;
  padding: 20px;
}

.sidebar button {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Fira Code';
  font-size: 1.4em;
  padding: 10px;
}

.nav-active {
  font-weight: 700;
  color: #333;
}

.chat-wrapper {
  padding: 40px;
  background: #eee;
  width: 100%;
}

.message {
  padding: 10px 20px;
  background: #fff;
  margin: 10px 0px;
}

.message.user {
  background: rgba(0,0,0,0.1);
}

.message p {
  margin: 0;
  font-size: 16px;
}
.message span {
  font-style: italic;

  color: rgba(0,0,0,0.6);
}

input {
  background: #fff;
  border: none;
  outline-style: none;
  padding: 20px;
  font-family: 'Fira Code';
  font-size: 16px;
  width: 100%;
  margin: 0px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-out;
}

input:hover {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

span.close {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 100px;
  height: 100px;
}

span.close::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  transform: rotate(45deg);
}
span.close::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  transform: rotate(-45deg) translateY(2px);
}

span.close:hover span.close::after{
  width: 100px;
  background: red;
}

